In [ ]:
year = 2019

In [ ]:
#Formats html link based on the year you insert
import pandas as pd
url_template = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'
url= url_template.format(year)
html = pd.read_html(url, header = 0)
df2019 = html[0]
df2019

In [ ]:
#Cleaning up Data
rawData = df2019.drop(df2019[df2019.Age == 'Age'].index)
rawData

In [ ]:
#Prints sum of missing/null data
print(rawData.isnull().sum())

In [70]:
#Replaces null values with 0 then prints the sum of missing/null data after
df = rawData.fillna(0)
print(df.isnull().sum())

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [ ]:
#Dropping a column
df = df.drop(['ORB'], axis = 1)
df = df.drop(['DRB'], axis = 1)
df

In [ ]:
fileName = 'NBA{}Stats'
df.to_csv(fileName.format(year), index = False)

In [71]:
#Find data types (columns)
df = pd.read_csv(fileName.format(year))
df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [ ]:
#Show just objects
df.select_dtypes(include=['object'])

In [ ]:
#Show just floats or integers
df.select_dtypes(include=['number'])

In [69]:
#Gets player with most points (Gets the whole row) and you can return certain things
playerMostPoints = df[df.PTS == df.PTS.max()]
playerMostPoints.Tm
playerMostPoints.Player

615    Russell Westbrook
Name: Player, dtype: object

In [ ]:
#Find intervals of specific data types
df[df.PTS > 22]

In [ ]:
#Group players by a specific team
GSW = df.groupby('Tm').get_group('SAS')
GSW[GSW.PTS > 15]